body{
	background:#E5E5E5;
	font-family: Verdana;
}

a{
	color: #2D9BB2;
}

.rcorner_top a{
	color:#E5E5E5;
}


header{
	background: #2D9BB2;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	/*object-fit: cover;
	width: 100%;
	top: -30px;
	width: 300px;*/

}

li{
	padding: 10px;
	margin-left: 25px;
}

#generalinfo{
	text-align: right;
	word-wrap: break-word;
	max-width: 500px;
}

h2{
	padding: 5px;
	margin-left: 75px;
}
#home_image{
	width:300px;
	height:auto;
	border-radius: 5%;
}

#covid_image{
	width:280px;
	height:auto;
	border-radius: 40%;
}

/*img{
	border-radius: 50%;
}*/

section{
	padding:20px;
	justify-content: space-between;
}

#topfold{
	display: flex;
}

#covid_info{
	display:default;
	text-align: center;
}

#hlektronikes_ait{
	padding:30px;
	font-size: 20px;
	font-weight: 400;
}

.icon{
	width: 50px;
	height: auto;
	border-radius: 50%;
	/*box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);*/
	padding: 10px;
}

ol{
	border: 8px solid white;
	padding: 20px;
}

.rcorner_top{
	/*display: inline;
	text-align: center;*/
	display: flex;
	align-items:center;
	padding: 10px;
	font-size: 20px;
	color:#E5E5E5;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    /*text-decoration: none;*/
    color: #FE8891;
    padding: 15px;
    font-size: 20px;
  	font-weight: 550;
  	border: 15px solid white;
  	margin: 15px;
  	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.dropbtn {
  background-color: #2D9BB2;
  color: white;
  padding: 8px;
  font-size: 20px;
  font-weight: 550;
  font-stretch: extra-expanded;
  border: none;
  text-decoration: underline;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #FE8891;}

.topnav{
	margin: auto;
	justify-content: space-between;
}